.wrapper {
	margin: 0 auto;
	max-width: 600px;
	padding: 0 50px;
}

input {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5px 6px;
	width: 100%;
}

.ui-autocomplete {
	color: #888;
	font-size: 80%;
	max-height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
}
.ui-autocomplete-match {
	color: #006CFC;
}
.ui-autocomplete .ui-state-focus {
	font-weight: normal;
}

a.repo {
	text-decoration: none;
}
a.repo:hover {
	text-decoration: underline;
}